{% extends "base.html" %}

{% block titulo %}
HOME 🏠
{% endblock %}

{% block contenido %}

    {% if user.is_authenticated %}
        Hola {{ user.username }}

        {% if user.is_superuser %}
            <h1>Eres super usuario</h1>
        {% else %}
            <h1>Eres usuario básico</h1>
        {% endif %}



        <a href="{% url 'password_change' %}">Cambiar contraseña</a>

    {% else %}
        <h1>No estas logeado</h1>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'password_reset' %}">Resetear contraseña</a>
    {% endif %}

{% endblock %}